//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding component variables.
//  ================================================================================================

/*==============================================================================================*/
$theme-dark-body-color: #6e6b7b;
$theme-dark-card-bg: #04364a;
$menu-expanded-width: 269px;
$navbar-height: 3.45rem;
/*==============================================================================================*/
